In [16]:
import pandas as pd
import glob
import os

In [18]:
currentPath = os.getcwd()
currentPath

'/home/tone/Study/NLP'

In [206]:
#path = r"/133KSample/*"
path = r"/testresults/*"
path = r"/noPadding/*"
path = currentPath + path

In [207]:
dataFiles = glob.glob(path)
print(dataFiles)
dfs = [pd.read_csv(eachFile, index_col=0) for eachFile in dataFiles]
len(dfs)

['/home/tone/Study/NLP/noPadding/3rd_10K_NoPaddingNegativeReviews_CNN64_RNN32_TextBlob.csv', '/home/tone/Study/NLP/noPadding/2nd_10K_NoPaddingNegativeReviews_CNN64_RNN32_TextBlob.csv', '/home/tone/Study/NLP/noPadding/1st_10K_NoPaddingNegativeReviews_CNN64_RNN32_TextBlob.csv', '/home/tone/Study/NLP/noPadding/4th_10K_NoPaddingNegativeReviews_CNN64_RNN32_TextBlob.csv']

4

In [208]:
for df in dfs:
    tnValue = df.loc['ActualRating', 'tn']
    tpValue = df.loc['ActualRating', 'tp']
    df['tnPercent'] = df['tn']/tnValue * 100
    df['fpPercent'] = df['fp']/tnValue * 100
    df['fnPercent'] = df['fn']/tpValue * 100
    df['tpPercent']  = df['tp']/tpValue  * 100

In [209]:
pd.set_option("display.precision", 2)

In [210]:
dfs[0]

               tn   fp   fn    tp  tnPercent  fpPercent  fnPercent  tpPercent
CNN            18  112   16  2227      13.85      86.15       0.71      99.29
RNN             2  128    1  2242       1.54      98.46       0.04      99.96
TextBlob       27  103  101  2142      20.77      79.23       4.50      95.50
ActualRating  130    0    0  2243     100.00       0.00       0.00     100.00

In [211]:
dfs[1]

               tn   fp   fn    tp  tnPercent  fpPercent  fnPercent  tpPercent
CNN            17  103   11  2242      14.17      85.83       0.49      99.51
RNN            14  106   24  2229      11.67      88.33       1.07      98.93
TextBlob       39   81  112  2141      32.50      67.50       4.97      95.03
ActualRating  120    0    0  2253     100.00       0.00       0.00     100.00

In [212]:
dfs[2]

               tn   fp   fn    tp  tnPercent  fpPercent  fnPercent  tpPercent
CNN            16   96   13  2248      14.29      85.71       0.57      99.43
RNN            10  102   23  2238       8.93      91.07       1.02      98.98
TextBlob       34   78  113  2148      30.36      69.64       5.00      95.00
ActualRating  112    0    0  2261     100.00       0.00       0.00     100.00

In [213]:
dfs[3]

               tn  fp   fn    tp  tnPercent  fpPercent  fnPercent  tpPercent
CNN            16  93   17  2247      14.68      85.32       0.75      99.25
RNN            14  95   23  2241      12.84      87.16       1.02      98.98
TextBlob       33  76  110  2154      30.28      69.72       4.86      95.14
ActualRating  109   0    0  2264     100.00       0.00       0.00     100.00

In [214]:
dfs[4]

IndexError: list index out of range