In [1]:
#Import libraries

import gzip #for parsing gz files
import pandas as pd
import re 
import inflect #numeric/cardinal

In [289]:
dirPath = r"C:\Study\Projects\NLP\data"
reviewPath = r"reviews_Tools_and_Home_Improvement_5.json.gz"
#reviewPath = r"reviews_Musical_Instruments_5.json.gz"
qaPath = r"C:\Study\Projects\NLP\data" 
path = dirPath + "\\" + reviewPath

In [290]:
dataFile = gzip.open(path, 'r')

In [291]:
# Need this function because large amount of data we are going to load up

# http://jmcauley.ucsd.edu/data/amazon/index.html
# eval function allows text to be parsed as python code
# parse function is a generator with yield
# yield when we want to iterate over a sequence, but don't want to store the entire sequence in memory
def parse(dataFile):
    for each in dataFile:
        yield eval(each)

In [292]:
# for each review for a product in dataFile maps dict[nth] = review (nth)
# enumerate can't be used on a generator
count = 0
productReviews = {}
for eachReview in parse(dataFile):
    productReviews[count] = eachReview
    count = count + 1

In [293]:
len(productReviews)

134476

In [294]:
#productReviews[101718]

In [295]:
productsReviewData = pd.DataFrame.from_dict(productReviews, orient='index')

In [296]:
productsReviewData.shape
productsReviewData.columns
productsReviewData.head(2)

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
0,A4IL0CLL27Q33,104800001X,D. Brennan,"[0, 1]","I hate it when my shirt collars, not otherwise...",5.0,Perfect for collar stay management,1390953600,"01 29, 2014"
1,A3Q5W5E7TDVLJF,104800001X,funnyc130,"[0, 0]",These little magnets are really powerful for t...,5.0,Neat,1369958400,"05 31, 2013"

In [297]:
reduceData = productsReviewData.loc[:, ['asin', 'reviewerName', 'reviewText', 'helpful', 'overall']]

In [436]:
reduceData = reduceData.loc[reduceData['overall']!=3.0, ['asin', 'reviewerName', 'reviewText', 'helpful', 'overall']]

In [298]:
rating = lambda x: 1 if x > 2.0 else 0

In [440]:
reduceData['rating'] = reduceData['overall'].apply(rating)
unfavorableReviews = list(reduceData.loc[ reduceData['rating'] == 0, 
                                         ['reviewText', 'helpful', 'overall', 'rating']].sort_values(by='overall').index)
#unfavorableReviews
reduceData.loc[ reduceData['rating'] == 0, ['reviewText', 'helpful', 'overall', 'rating']].sort_values(by='overall').head(4)

,reviewText,helpful,overall,rating
134322,Amazing that they designed this thing without ...,"[2, 2]",1.0,0
55236,I was ready to pick up one of these at a woodw...,"[30, 38]",1.0,0
55234,I bought this set from amazon but is not like ...,"[8, 15]",1.0,0
105852,Horrible.Not one blade runs true. Some are as...,"[0, 0]",1.0,0

In [441]:
reviewTextProcessing = pd.DataFrame(reduceData.reviewText.copy())

In [442]:
reviewTextProcessing['rating'] = reduceData['rating']
reviewTextProcessing['overall'] = reduceData['overall']

In [443]:
productsReviewData.dtypes
len(productsReviewData)
# reviewText, rating, overall
reviewTextProcessing.shape

(123707, 3)

In [444]:
#reviewTextProcessing.loc[reviewTextProcessing['rating']==0, ['rating', 'overall', 'Processed', 'SentimentModel']]

In [304]:
#https://stackoverflow.com/questions/19790188/expanding-english-language-contractions-in-python
import Contractions_Words as contractions
import importlib
importlib.reload(contractions)

contractions_dict = contractions.contractions_dict

print(contractions_dict.keys())
#print(contractions_dict["s***"])

pattern = '%s' % '|'.join(contractions_dict.keys())
#pattern = r"%s" % pattern
#print(pattern)
contractions_re = re.compile(pattern)
def expand_contractions(s, contractions_dict=contractions_dict):
    #edit for special case like s*** etc
    s = re.sub("\*", "#", s)
    def replace(match):
        #print(type(match), match)
        return contractions_dict[match.group(0)]
    return contractions_re.sub(replace, s)

dict_keys(["ain't", "aren't", "can't", "can't've", "'cause", "could've", "couldn't", "couldn't've", "didn't", "doesn't", "don't", "hadn't", "hadn't've", "hasn't", "haven't", "he'd", "he'd've", "he'll", "he'll've", "he's", "how'd", "how'd'y", "how'll", "how's", "I'd", "I'd've", "I'll", "I'll've", "I'm", "I've", "isn't", "it'd", "it'd've", "it'll", "it'll've", "it's", "let's", "ma'am", "mayn't", "might've", "mightn't", "mightn't've", "must've", "mustn't", "mustn't've", "needn't", "needn't've", "o'clock", "oughtn't", "oughtn't've", "shan't", "sha'n't", "shan't've", "she'd", "she'd've", "she'll", "she'll've", "she's", 's###', "should've", "shouldn't", "shouldn't've", "so've", "so's", "that'd", "that'd've", "that's", "there'd", "there'd've", "there's", "they'd", "they'd've", "they'll", "they'll've", "they're", "they've", "to've", "wasn't", "we'd", "we'd've", "we'll", "we'll've", "we're", "we've", "weren't", "what'll", "what'll've", "what're", "what's", "what've", "when's", "when've", "where'd", "where's", "where've", "who'll", "who'll've", "who's", "who've", "why's", "why've", "will've", "won't", "won't've", "would've", "wouldn't", "wouldn't've", "y'all", "y'all'd", "y'all'd've", "y'all're", "y'all've", "you'd", "you'd've", "you'll", "you'll've", "you're", "you've"])

In [305]:
sample1 = "s***"
print(re.sub("\*", "#", sample1))

sample = "I don\'t know what to say nay. I haven\'t. s###"
expand_contractions(sample)
expand_contractions(sample1)

s###

'shit'

In [306]:
from nltk.tokenize import word_tokenize, sent_tokenize
import string

# return both wholeText, paragraph Text
def singleReviewCleanUp(sample):
    #print(sample)
    #sample = sample.decode("utf-8")
    sample = expand_contractions(sample)
    sample = sample.lower()
    
    #for word in sample:
    #    print(lemmatizer.lemmatize(word, wordnet.VERB))
    
    review = sent_tokenize(sample)
    #print(review)
    for count, eachSent in enumerate(review):
        #remove numbers
        eachSent = re.sub("r'\d+/\d+|\d+|\$\d+.\d+", " ", eachSent)
        #remove string
        eachSent = re.sub('[%s]' % re.escape(string.punctuation), ' ', eachSent)
        #word tokens
        #print([lemmatizer.lemmatize(text, wordnet.VERB) for text in eachSent.split()])
        eachSent = word_tokenize(eachSent)
        review[count] = eachSent
        # lemmatize and remove stopWords
        #eachSent = [word for word in eachSent if not word in stopWords]
        #eachSent = [lemmatizer.lemmatize(word, wordnet.VERB) for word in eachSent]
        #eachSent = [lemmatizer.lemmatize(word, wordnet.VERB) for word in eachSent if not word in stopWords]
        review[count] = " ".join(eachSent)
    wholeText = [" ".join(review) ]
    paragraphText = review
    #return wholeText
    #return paragraphText
    return paragraphText, wholeText

#paragraphText, wholeText = singleReviewCleanUp(sample)
#wholeText, paragraphText
#paragraphText

In [445]:
#Give me back text in a paragraph sentence forms. They do have more values than a clobbed of text based on Polarity Check.
cleanUpTextParagraph = lambda text: singleReviewCleanUp(text)[0]

In [446]:
%%time
reviewTextProcessing['Processed'] = reviewTextProcessing.reviewText.apply(cleanUpTextParagraph)

Wall time: 9min

In [447]:
reviewTextProcessing['CleanedJoin'] = reviewTextProcessing['Processed'].apply(', '.join)

In [448]:
reviewTextProcessing.shape
reviewTextProcessing.columns

Index(['reviewText', 'rating', 'overall', 'Processed', 'CleanedJoin'], dtype='object')

In [449]:

import itertools

largeText = reviewTextProcessing.CleanedJoin.to_list()
#largeText = reviewTextProcessing.reviewText.to_list() # Not too good accuracy around 116 missed with %86.94

len(largeText)

123707

In [450]:
#largeText

In [451]:
tokenizer = Tokenizer(num_words=num_words)
tokenizer.fit_on_texts(largeText)
#tokenizer.word_index

In [452]:
size = int(len(largeText)*.75)
x_train_text = largeText[:size]
x_test_text = largeText[size:]

y_train =  reviewTextProcessing['rating'][:size]
y_test = reviewTextProcessing['rating'][size:]

In [453]:
len(y_train), len(y_test), len(x_train_text), len(x_test_text)

(92780, 30927, 92780, 30927)

In [454]:
from sklearn.naive_bayes import MultinomialNB

In [455]:
import tensorflow as tf
#tf.__version__

In [456]:
from sklearn.feature_extraction.text import TfidfVectorizer
top_num_of_words = 15000
#vect = TfidfVectorizer(max_features=top_num_of_words, stop_words = 'english')
vect = TfidfVectorizer(max_features=top_num_of_words, stop_words = 'english', ngram_range=(1, 3), max_df=0.9, min_df=2, use_idf=True, sublinear_tf=True)

In [457]:
%%time
text = x_train_text
vect.fit(text)
tfidf_train = vect.transform(text)

Wall time: 1min 15s

In [458]:
model = MultinomialNB()

In [422]:
#model = LinearRegression()

In [423]:
#model = LogisticRegression(C=0.2, dual=True)
#(0, 2418, 0, 31201) nooo negative

In [459]:
MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [425]:
index = len(x_train_text)
index

100857

In [460]:
%%time
model.fit(tfidf_train, y_train)
#model.fit(x_train_pad, y_train,validation_split=0.05, epochs=3, batch_size=74)

Wall time: 114 ms

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [461]:
%%time
vect.fit(x_test_text)
tfidf_test = vect.transform(x_test_text)

Wall time: 28.6 s

In [462]:
tfidf_test

<30927x15000 sparse matrix of type '<class 'numpy.float64'>'
	with 1631192 stored elements in Compressed Sparse Row format>

In [463]:
preds = model.predict(tfidf_test)
accuracy = (preds==y_test).mean()

In [464]:
print("Accuracy: {0:.2%}".format(accuracy))

Accuracy: 85.49%

In [465]:
tn, fp, fn, tp = confusion_matrix(y_test, preds).ravel()
tn, fp, fn, tp

(195, 2232, 2255, 26245)

In [407]:
pd.DataFrame(y_pred).describe()

            0
count  1000.0
mean      1.0
std       0.0
min       1.0
25%       1.0
50%       1.0
75%       1.0
max       1.0

In [ ]:
#y_pred = y_pred.T[0]
#list(np.where(y_pred.T[0]))

In [ ]:
#y_pred

In [253]:
incorrect = np.where(cls_pred != cls_true)
incorrect = incorrect[0]
incorrect

array([  3,   5,  20,  23,  26,  36,  37,  40,  41,  42,  43,  54,  55,
        57,  58,  60,  61,  65,  67,  70,  72,  73,  75,  76,  79,  83,
        85,  86,  87,  88,  89,  90,  91,  92,  93,  97, 100, 101, 106,
       107, 116, 124, 129, 130, 133, 134, 138, 143, 151, 153, 154, 155,
       156, 160, 165, 166, 168, 171, 175, 185, 190, 195, 196, 200, 201,
       205, 206, 207, 211, 214, 216, 217, 218, 219, 229, 232, 234, 235,
       237, 241, 243, 244, 247, 248, 249, 250, 257, 260, 266, 268, 271,
       272, 276, 280, 283, 287, 288, 290, 292, 294, 295, 296, 297, 299,
       301, 302, 306, 308, 309, 311, 312, 313, 314, 315, 317, 321, 323,
       326, 328, 333, 334, 335, 341, 342, 345, 348, 351, 352, 353, 354,
       359, 360, 361, 363, 367, 371, 372, 375, 376, 381, 382, 383, 387,
       388, 392, 394, 395, 396, 400, 401, 402, 407, 408, 411, 414, 415,
       416, 418, 426, 431, 432, 435, 441, 443, 444, 446, 447, 449, 451,
       452, 454, 459, 463, 464, 466, 468, 475, 477, 484, 488, 490, 491,
       492, 493, 496, 497, 499, 501, 502, 508, 509, 510, 511, 517, 520,
       521, 522, 523, 524, 528, 530, 536, 540, 541, 542, 548, 552, 553,
       559, 560, 562, 563, 566, 568, 569, 572, 578, 580, 583, 588, 596,
       599, 600, 602, 605, 607, 611, 615, 616, 619, 622, 624, 625, 628,
       631, 634, 637, 638, 641, 646, 648, 649, 653, 655, 657, 658, 660,
       662, 665, 671, 673, 676, 678, 682, 684, 687, 689, 690, 692, 694,
       697, 698, 703, 704, 705, 707, 708, 713, 715, 716, 717, 718, 720,
       722, 728, 733, 735, 736, 738, 745, 746, 752, 753, 754, 756, 757,
       758, 759, 760, 763, 764, 766, 771, 772, 774, 778, 781, 784, 787,
       790, 798, 804, 806, 813, 817, 818, 819, 820, 821, 822, 823, 824,
       825, 826, 827, 828, 833, 834, 837, 840, 842, 843, 845, 846, 848,
       851, 853, 855, 856, 858, 859, 860, 863, 865, 867, 870, 874, 876,
       884, 886, 887, 892, 893, 895, 896, 898, 899, 900, 901, 902, 904,
       906, 907, 908, 909, 910, 916, 919, 922, 924, 925, 928, 932, 934,
       936, 939, 942, 944, 946, 947, 948, 949, 950, 951, 953, 954, 955,
       957, 958, 960, 964, 965, 966, 968, 970, 974, 976, 986, 990, 992,
       994, 996, 997, 998], dtype=int64)

In [147]:
correct = np.where(cls_pred == cls_true)
correct = correct[0]
correct

array([  0,   1,   2,   4,   6,   7,   8,   9,  10,  11,  12,  13,  14,
        15,  16,  17,  18,  19,  21,  22,  24,  25,  27,  28,  29,  30,
        31,  32,  33,  34,  35,  38,  39,  44,  45,  46,  47,  48,  49,
        50,  51,  52,  53,  56,  59,  62,  63,  64,  66,  68,  69,  71,
        74,  77,  78,  80,  81,  82,  84,  94,  95,  96,  98,  99, 102,
       103, 104, 105, 108, 109, 110, 111, 112, 113, 114, 115, 117, 118,
       119, 120, 121, 122, 123, 125, 126, 127, 128, 131, 132, 135, 136,
       137, 139, 140, 141, 142, 144, 145, 146, 147, 148, 149, 150, 152,
       157, 158, 159, 161, 162, 163, 164, 167, 169, 170, 172, 173, 174,
       176, 177, 178, 179, 180, 181, 182, 183, 184, 186, 187, 188, 189,
       191, 192, 193, 194, 197, 198, 199, 202, 203, 204, 208, 209, 210,
       212, 213, 215, 220, 221, 222, 223, 224, 225, 226, 227, 228, 230,
       231, 233, 236, 238, 239, 240, 242, 245, 246, 251, 252, 253, 254,
       255, 256, 258, 259, 261, 262, 263, 264, 265, 267, 269, 270, 273,
       274, 275, 277, 278, 279, 281, 282, 284, 285, 286, 289, 291, 293,
       298, 300, 303, 304, 305, 307, 310, 316, 318, 319, 320, 322, 324,
       325, 327, 329, 330, 331, 332, 336, 337, 338, 339, 340, 343, 344,
       346, 347, 349, 350, 355, 356, 357, 358, 362, 364, 365, 366, 368,
       369, 370, 373, 374, 377, 378, 379, 380, 384, 385, 386, 389, 390,
       391, 393, 397, 398, 399, 403, 404, 405, 406, 409, 410, 412, 413,
       417, 419, 420, 421, 422, 423, 424, 425, 427, 428, 429, 430, 433,
       434, 436, 437, 438, 439, 440, 442, 445, 448, 450, 453, 455, 456,
       457, 458, 460, 461, 462, 465, 467, 469, 470, 471, 472, 473, 474,
       476, 478, 479, 480, 481, 482, 483, 485, 486, 487, 489, 494, 495,
       498, 500, 503, 504, 505, 506, 507, 512, 513, 514, 515, 516, 518,
       519, 525, 526, 527, 529, 531, 532, 533, 534, 535, 537, 538, 539,
       543, 544, 545, 546, 547, 549, 550, 551, 554, 555, 556, 557, 558,
       561, 564, 565, 567, 570, 571, 573, 574, 575, 576, 577, 579, 581,
       582, 584, 585, 586, 587, 589, 590, 591, 592, 593, 594, 595, 597,
       598, 601, 603, 604, 606, 608, 609, 610, 612, 613, 614, 617, 618,
       620, 621, 623, 626, 627, 629, 630, 632, 633, 635, 636, 639, 640,
       642, 643, 644, 645, 647, 650, 651, 652, 654, 656, 659, 661, 663,
       664, 666, 667, 668, 669, 670, 672, 674, 675, 677, 679, 680, 681,
       683, 685, 686, 688, 691, 693, 695, 696, 699, 700, 701, 702, 706,
       709, 710, 711, 712, 714, 719, 721, 723, 724, 725, 726, 727, 729,
       730, 731, 732, 734, 737, 739, 740, 741, 742, 743, 744, 747, 748,
       749, 750, 751, 755, 761, 762, 765, 767, 768, 769, 770, 773, 775,
       776, 777, 779, 780, 782, 783, 785, 786, 788, 789, 791, 792, 793,
       794, 795, 796, 797, 799, 800, 801, 802, 803, 805, 807, 808, 809,
       810, 811, 812, 814, 815, 816, 829, 830, 831, 832, 835, 836, 838,
       839, 841, 844, 847, 849, 850, 852, 854, 857, 861, 862, 864, 866,
       868, 869, 871, 872, 873, 875, 877, 878, 879, 880, 881, 882, 883,
       885, 888, 889, 890, 891, 894, 897, 903, 905, 911, 912, 913, 914,
       915, 917, 918, 920, 921, 923, 926, 927, 929, 930, 931, 933, 935,
       937, 938, 940, 941, 943, 945, 952, 956, 959, 961, 962, 963, 967,
       969, 971, 972, 973, 975, 977, 978, 979, 980, 981, 982, 983, 984,
       985, 987, 988, 989, 991, 993, 995, 999], dtype=int64)

In [141]:
len(incorrect), len(correct)
(incorrect) (correct)

ValueError: operands could not be broadcast together with shapes (374,) (626,)

In [148]:
result_location = np.where(cls_pred.T)[0] + index
len(result_location)

1000

In [149]:

NBresult = reviewTextProcessing.loc[list(result_location),  ['reviewText', 'overall', 'rating', 'Sentiment' , 'SentimentModel']]
#CNNresult.head(2)
#CNNresult.shape
#result_location
#result_location
NBresult.shape

(1000, 5)

In [150]:
NBresult['NB_Sentiment'] =  list(y_pred.T)

In [152]:
sumSentiment = lambda x: x[1]

In [156]:
from sklearn.metrics import confusion_matrix

y_true = NBresult.rating.to_list()
NB_pred = NBresult.NB_Sentiment.to_list()
textBlob_pred = NBresult.TextBlob_Sentiment.to_list()

In [205]:
#textBlob_pred

In [158]:
tn, fp, fn, tp = confusion_matrix(y_true, NB_pred).ravel()
tn, fp, fn, tp

(20, 22, 352, 606)

In [159]:
tn, fp, fn, tp = confusion_matrix(y_true, textBlob_pred).ravel()
tn, fp, fn, tp

(14, 28, 57, 901)

#

In [ ]:
pd.options.display.max_colwidth = 500

#productsReviewData.cleanedText.head(2)